{% extends "base.html" %}
{% block content %}
    {% if current_user.role == 'Студент' %}
        <meta http-equiv="refresh" content="0;URL=/student" />
    {% elif current_user.role == 'Преподаватель' %}
        <meta http-equiv="refresh" content="0;URL=/teacher" />
    {% elif current_user.role == 'Админ' %}
        <div class="student-buttons">
            <a href="/admin/users"><input type="submit" value="Пользователи"></a>
            <a href="/admin/tasks"><input type="submit" value="Задания"></a>
        </div>
    {% endif %}
{% endblock content %}