{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
    {% if current_user.role != 'Преподаватель' %}
        <meta http-equiv="refresh" content="0;URL=/"/>
    {%else%}
        <h1>Мои студенты</h1>
        <div class="student-task-list">
            {% for student in students %}
                <div class="task-ticket">
                    <a href="/account/{{student.studentid}}"><h4>{{student.studentemail}}</h4></a>
                    <a href="/teacher/deletestudent/{{student.studentid}}"><input type="button" value="Удалить"</a>
                </div>
            {%endfor%}
        </div>
    {% endif %}
    {% endif %}
{% endblock content %}